* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
li,
ul,
ol,
dl,
dt,
dd,
blockquote,
pre,
form,
fieldset,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}
